$cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.menu-head-wrapper {
  position: fixed;
  z-index: 9999;
  touch-action: none;

  &:not(.dragActive) {
    transition: left 0.2s $cubic, right 0.2s $cubic, top 0.2s $cubic, bottom 0.2s $cubic;
  }
}

.menu-head {
  align-items: center;
  background: var(--background);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  pointer-events: none;

  &.menuActive {
    box-shadow: inset 0 0 12px 4px rgba(0, 0, 0, 0.25);
  }
}

.menu-head-icon {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.menu-container {
  align-items: flex-start;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px 2px;
  display: flex;
  justify-content: flex-start;
  max-height: 600px;
  min-height: 350px;
  position: absolute;
  visibility: hidden;
  width: 250px;
  background: #fff;

  &.menuActive {
    animation: show 0.15s $cubic;
    visibility: visible;
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: -2rem;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
